<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />

</head>
<body>

<div class="container">

    <div class="starter-template">
        <h1>Test Form</h1>
        <form th:action="@{/form}" th:object="${testFormDTO}" method="POST" id="test-form" enctype="multipart/form-data">
            <div class="input-field">
                <label for="test-form-name" th:text="#{AdmUser.firstName}"> Imię </label>
                <input type="text" required="" id="test-form-name" data-validate='name' data-description="name" th:class="${#fields.hasErrors('firstName')?  'text-only-no-whitespace error' : 'text-only-no-whitespace'}" th:field="*{firstName}" aria-required="true" />
                <label for="test-form-name" class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">komunikat walidacji imenia</label>
            </div>
            <div class="input-field">
                <input type="file" name="attachment" />
            </div>
            <div>
                <button class="btn btn--primary btn--lg js-send-contact-form" type="submit" th:text="${#strings.toUpperCase('__#{send}__')}"> WYŚLIJ </button>
            </div>
        </form>
    </div>

</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>